#main .ese71bdy #ec32 .ec32Table {
border-collapse: collapse;
}
#main .ese71bdy #ec38 .ec38TableTotals {
border-collapse: collapse;
}
#main .ese71bdy .ec62tblPaymentAddress {
border-collapse: collapse;
}
